*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}
body {
  overflow-x: hidden;
}


header{
    background-color: #ffffff;
    padding-top: 0px;  
}

nav{
    width: 100%;
    max-width: 1600px;
    margin: 0;
    display: flex;
    background-color: #ffffff;
}

.logo{
    margin-left: 120px;
    margin-top: 16px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 34px;
    gap: 32px;
    margin-left:350px; 
}

nav .menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;   
}

.menu a.btn{
    background-color: #30B868;
    border-radius: 4px;
    font-weight: 600;
    color: #ffffff;
    border-style: none;
    font-size: 16px;
    margin-left: 310px;
    padding: 12.5px 16px;
    margin-top: 24px;  
    cursor: pointer;
}
a.btn:hover {
    background-color: #ffffff;
    border: #30B868 2px solid;
    color: #30B868;
}

/*---Banner Section---*/


.banner{
    margin-top: 0px;
    width: 1600px;
    height: 674px;
    background-image: url("../assets/hero-bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*.banner-content{
    margin-left:120px ;
    margin-top: 115.5px ;
    
}*/
.early-access{
    display:inline-flex;
    align-items: center;
    background: #ffffff;
    color: #30B868;
    font-size: 16px; 
    padding: 8px 12px 8px 34px;
    font-weight: 600;
    border-radius: 1000px;
    gap: 8px;
    
}
.green-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #4caf50;
  border-radius: 50%;
 box-shadow: 0 0 0 4px #4caf5033;
 
}

.banner h1{
    margin: 16px;
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
    
}
h1 .greenT{
    color: #30B868;
}
.banner p{
    font-size: 18px;
    color: #ffffff;
}

.banner-buttons{
    display: flex;
    gap: 17px;
}

.btn-1{
    background-color: #30B868;
    border-radius: 4px;
    font: 16px;
    font-weight: semi-bold;
    color: #ffffff;
    border-style: none;
    font-size: 16px;
    padding: 12.5px 12px;
    margin-top: 24px;  
    margin-left: 160px;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    gap: 10px;
    
}

.btn-1:hover {
    background-color: #115f2f;
    border: #e4f3ea 2px solid;
    
}
.btn-1 .arrow{
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    
}

.btn-2{
    background-color: transparent;
    border-radius: 4px;
    font: 16px;
    font-weight: semi-bold;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 16px;
    padding: 12.5px 16px;
    margin-top: 24px;  
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    gap: 8px;  
}
.btn-2:hover {
    background-color: #000502;
    border: #10ee69 2px solid;
    
}

/*---Note Section---*/

#notes{
    width: 1600px;
    height: 448px;
    margin-top: 0px;   
}

.note-text {
    width: 1360px;
    height: 130px;
    margin-left: 120px;  
    text-align: center;
    padding-top: 0px;
}
.note-text h2{
    padding-top: 42px; 
    font-size: 48px;
    font-weight: bold;
    color: #001931;    
}

.note-text p{
    font-size: 16px;
    margin-top: 16px;
    font-weight: 400;
    color: #627382; 
    
}

/*---Cards Section---*/
.cards{
    width: 1360px;
    height: 300px;
    margin-left: 120px;
    display: flex;
    gap: 24px;
    margin-top: 44px;
    background-color: #ffffff;  
}

.card-img{
    width: 60px;
    height: 60px;
    margin-top: 44px;
}

.cards h2{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;
}

.cards p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-top: 16px;
}

.card-1, .card-2, .card-3, .card-4{
    width: 320px;
    height: 300px;  
    text-align: center;
    align-items: center;
    box-shadow: 0px 4px 16px #0000001A;  
}
/*.card-2{
    width: 320px;
    height: 300px;  
    text-align: center;
    align-items: center;
    box-shadow: 0px 4px 16px #0000001A;  
}
.card-3{
    width: 320px;
    height: 300px;  
    text-align: center;
    align-items: center;
    box-shadow: 0px 4px 16px #0000001A;  
}
.card-4{
    width: 320px;
    height: 300px;  
    text-align: center;
    align-items: center;
    box-shadow: 0px 4px 16px #0000001A;  
}
*/



