*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}
/*---Header Section---*/
header{
    background-color: #ffffff;
    padding-top: 0px;  
}

nav{
    width: 100%;
    max-width: 1600px;
    margin: 0;
    display: flex;
    background-color: #ffffff;
}

.logo{
    margin-left: 120px;
    margin-top: 16px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 34px;
    gap: 32px;
    margin-left:350px; 
}

nav .menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;   
}

.menu a.btn{
    background-color: #30B868;
    border-radius: 4px;
    font-weight: 600;
    color: #ffffff;
    border-style: none;
    font-size: 16px;
    margin-left: 310px;
    padding: 12.5px 16px;
    margin-top: 24px;  
    cursor: pointer;
}
a.btn:hover {
    background-color: #ffffff;
    border: #30B868 2px solid;
    color: #30B868;
}

/*---Banner Section---*/


.banner{
    margin-top: 0px;
    width: 1600px;
    height: 674px;
    background-image: url("../assets/hero-bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.early-access{
    display:inline-flex;
    align-items: center;
    background: #ffffff;
    color: #30B868;
    font-size: 16px; 
    padding: 8px 12px 8px 34px;
    font-weight: 600;
    border-radius: 1000px;
    gap: 8px;
    
}
.green-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #4caf50;
  border-radius: 50%;
 box-shadow: 0 0 0 4px #4caf5033;
 
}

.banner h1{
    margin: 16px;
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
    
}
h1 .greenT{
    color: #30B868;
}
.banner p{
    font-size: 18px;
    color: #ffffff;
}

.banner-buttons{
    display: flex;
    gap: 17px;
}

.btn-1{
    background-color: #30B868;
    border-radius: 4px;
    font: 16px;
    font-weight: semi-bold;
    color: #ffffff;
    border-style: none;
    font-size: 16px;
    padding: 12.5px 12px;
    margin-top: 24px;  
    margin-left: 160px;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    gap: 10px;  
}
.btn-1 .arrow{
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;  
}

.btn-1:hover {
    background-color: #115f2f;
    border: #e4f3ea 2px solid;
    
}

.btn-2{
    background-color: transparent;
    border-radius: 4px;
    font: 16px;
    font-weight: semi-bold;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 16px;
    padding: 12.5px 16px;
    margin-top: 24px;  
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    gap: 8px;  
}
.btn-2:hover {
    background-color: #000502;
    border: #10ee69 2px solid;
    
}

body {
  overflow-x: hidden;
}


/*---Note Section---*/

#notes{
    width: 1600px;
    height: 448px;
    margin-top: 0px;   
    overflow: hidden;
}

.note-text {
    width: 1360px;
    height: 130px;
    margin-left: 120px;  
    text-align: center;
    padding-top: 0px;
}
.note-text h2{
    padding-top: 42px; 
    font-size: 48px;
    font-weight: bold;
    color: #001931;    
}

.note-text p{
    font-size: 16px;
    margin-top: 16px;
    font-weight: 400;
    color: #627382; 
    
}

/*---Cards Section---*/
.cards{
    width: 1360px;
    height: 300px;
    margin-left: 120px;
    display: flex;
    gap: 24px;
    margin-top: 44px;
    background-color: #ffffff;  
    
}

.card-img{
    width: 60px;
    height: 60px;
    margin-top: 70px;
}

.cards h2{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;
}

.cards p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-top: 16px;
}

.card-1, .card-2, .card-3, .card-4{
    width: 320px;
    height: 300px;  
    border-radius: 8px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 4px 16px #0000001A;  
}
/*---Brain Section---*/

#brain{
    width: 1600px;
    height: 840px;
    margin: 0px;
    background-color: #ffffff;
    border: #ffffff 1px solid;
}
.brain-content{
    width: 1360px;
    height: 600px;
    display: flex;
    margin-top: 120px;
    margin-left: 120px;
    gap: 10px;
}

#bg{
    width: 600px;
    height: 600px;
}

.brain-text{
    width: 700px;
    height: 396px;
    margin-left: 60px;
    margin-top: 102px;
    }

    .overline{
        color: #30B868;
        font-size: 16px; 
        font-weight: 600;  
    }
    .brain-text h2{
        font-size: 48px;
        font-weight:bold;
        color: #001931;
        margin-top: 16px;  
    }

    .brain-text p{
        font-size: 16px;
        font-weight: 400;
        color: #627382;
        margin-top: 16px;  
    }

    .brain-text ul{
        margin-top: 40px;  
        list-style: none;
    }

    .solution-list li {
    position: relative;
    display: flex;
    padding-left: 6px; 
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    gap: 6px;
    color: #001931;
}
    .solution-list li::before{
        content: "";
        width: 20px;
        height: 20px;
        background-image: url("../assets/CheckCircle.png");
        background-size: contain;
         background-repeat: no-repeat;
    }

    /*---thinking Section---*/

    #think{
    width: 1600px;
    height: 506px;
    margin-top: 0px;
    }

    .think-content{
        width: 1360px;
        height: 384px;
        margin-left: 120px;
        margin-top: 0px;
        text-align: center;
        background-color: #F7F6F2;
    }

    .content-heading{
        align-items: center;
    }

    .think-content h1{
        font-size: 40px;
        font-weight: bold;
        color: #001931;
        padding-top: 80px;
        padding-left: 40px;
    }
    .think-content p{
        font-size: 16px;
        font-weight: 400;
        color: #627382;
        margin-top: 16px;  
        padding-left: 40px;
        padding-right: 40px;
    }

    .think-btn{
        align-items: center;
        margin-top: 24px;     
    }

    .btn-4{
        background-color: #30B868;
        border-radius: 4px;
        font: 16px;
        font-weight: semi-bold;
        color: #ffffff;
        border-style: none;
        font-size: 16px;
        padding: 12.5px 16px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    }

    .btn-4 .arrow{
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center; 
}

.btn-4:hover {
    background-color: #2e834d;
    border: #ffffff 2px solid;

}

.think-btn h6{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-top: 16px;
}

/*---Footer Section---*/

#footer{
    width: 1600px;
    height: 348px;
    margin: 0px;
    background-color: #001931;
    border: #001931 1px solid;
}

.footer-element{
    width: 1360px;
    height: 64px;
    margin-left: 120px;
    margin-top: 120px;
    display: flex;
    gap: 80px;
    
}

.footer-logo{
    width: 139px;
    height: 60px;
}

.footer-menu{
     flex-direction: column;
     color: #ffffff;
     margin-left: 900px;
}

.footer-menu h4{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.footer-menu ul {
    list-style: none;
    padding-top: 16px;
    margin: 0;
    display: flex;
    gap: 12px;
}

.footer-menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    background-size: 100%; 
    background-position: center; 
    background-repeat: no-repeat;
   
}

#x {
    background-image: url("../assets/x.png"); 
    width: 20px;
    height: 20px;
}
#in {
    background-image: url("../assets/in.png");
    width: 21px;
    height: 21px;
}

#fb {
    background-image: url("../assets/fb.png");
    width: 20px;
    height: 20px;
}

.footer-bottom{
    width: 1360px;
    height: 54px;
    margin-left: 120px;
    margin-top: 80px;
    text-align: center;

}
.footer-line {
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.1); 
    
}
.footer-bottom p{
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px; 
    font-size: 16px;
    color: #fafafa;
    
}
